# Import Pandas

In [1]:
import pandas as pd

# Convert a List to a Series

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Butter Pecan"]
pd.Series(ice_cream)

0       Chocolate
1         Vanilla
2      Strawberry
3    Butter Pecan
dtype: object

# Convert a Dictionary to a Series

In [5]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Pink",
    "Eel": "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna        Pink
Eel        Brown
dtype: object

# Series Methods

In [6]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [7]:
prices.sum()
prices.product()
prices.mean()
prices.std()

1.5457791994115246

# Series Attributes

In [9]:
adjectives = pd.Series(["Smart", "Handsome", "Humble", "Brilliant", "Charming", "Smart"])
adjectives

0        Smart
1     Handsome
2       Humble
3    Brilliant
4     Charming
5        Smart
dtype: object

In [12]:
adjectives.size
adjectives.is_unique
adjectives.values
adjectives.index

RangeIndex(start=0, stop=6, step=1)

# Read CSV

In [43]:
pokemon = pd.read_csv("pokemon.csv", usecols= ["Pokemon"], squeeze = True)
pokemon.head()
pokemon.tail()

C:\Users\saleemh\AppData\Local\Temp\ipykernel_28560\2527003546.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pokemon = pd.read_csv("pokemon.csv", usecols= ["Pokemon"], squeeze = True)

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [29]:
len(pokemon)
type(pokemon)
list(pokemon)
sorted(pokemon)
max(pokemon)
min(pokemon)

'Pokemon'

# In Keyword

In [44]:
"Car" in "racecar"
"car" in "racecar"
"Bulbasaur" in pokemon.values
0 in pokemon.index

True

# sort_values method

In [45]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)

C:\Users\saleemh\AppData\Local\Temp\ipykernel_28560\2667104970.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [46]:
google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [60]:
google.sort_values(ascending=False)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [61]:
google.sort_values(ascending=False).head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

^ Sorting in a new series, not altering existing.

# Math methods on Series

In [49]:
google.count()
google.mean()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [54]:
google.idxmax()
google.idxmin()
google[3011]
google[google.idxmax()]

782.22

# value_counts method

In [90]:
pokemon.value_counts()

Water                  105
Normal                  93
Grass                   64
Bug                     63
Psychic                 47
Fire                    47
Rock                    41
Electric                36
Ground                  30
Poison                  28
Dark                    28
Fighting                25
Dragon                  24
Ghost                   23
Ice                     23
Steel                   22
Fairy                   17
Flying                   3
Silly                    1
Overwritten Pokemon      1
Name: Type, dtype: int64

In [92]:
pokemon.value_counts(normalize = True)*100

Water                  14.563107
Normal                 12.898752
Grass                   8.876560
Bug                     8.737864
Psychic                 6.518724
Fire                    6.518724
Rock                    5.686546
Electric                4.993065
Ground                  4.160888
Poison                  3.883495
Dark                    3.883495
Fighting                3.467406
Dragon                  3.328710
Ghost                   3.190014
Ice                     3.190014
Steel                   3.051318
Fairy                   2.357836
Flying                  0.416089
Silly                   0.138696
Overwritten Pokemon     0.138696
Name: Type, dtype: float64

In [88]:
pokemon.value_counts().sum()

721

# Apply and Lambda

In [57]:
google.apply(lambda stock_price : stock_price + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

In [58]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible!"

In [59]:
google.apply(classify_performance)

0                OK
1                OK
2                OK
3                OK
4                OK
           ...
3007    Incredible!
3008    Incredible!
3009    Incredible!
3010    Incredible!
3011    Incredible!
Name: Stock Price, Length: 3012, dtype: object

In [94]:
def count_of_a(pokemon):
    return pokemon.count("a")

pokemon.apply(count_of_a).sum()

331

# Map method

In [95]:
attack_powers = {
    "Grass": 10,
    "Fire": 15,
    "Water": 15,
    "Fairy, Fighting": 20,
    "Grass, Psychic": 50
}

In [96]:
pokemon.map(attack_powers)

Pokemon
Bulbasaur      NaN
Ivysaur        NaN
Venusaur      10.0
Charmander    15.0
Charmeleon    15.0
              ...
Yveltal        NaN
Zygarde        NaN
Diancie        NaN
Hoopa          NaN
Volcanion     15.0
Name: Type, Length: 721, dtype: float64

# sort_index method

In [64]:
pokemon.sort_index()

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

# Extract Values by Index Position

In [65]:
pokemon.iloc[0]

'Bulbasaur'

In [66]:
pokemon.iloc[[100,200,300]]

100    Electrode
200        Unown
300     Delcatty
Name: Pokemon, dtype: object

In [71]:
pokemon.iloc[27:36]

27    Sandslash
28      Nidoran
29     Nidorina
30    Nidoqueen
31     Nidoran♂
32     Nidorino
33     Nidoking
34     Clefairy
35     Clefable
Name: Pokemon, dtype: object

In [83]:
pokemon.loc["Bulbasaur"]

'Grass'

In [73]:
pokemon.get("Moltres")

# Overwrite a Series Value

In [77]:
pokemon.iloc[[1,2,3]] = ["First", "Second", "Third"]
pokemon.head()

0     Bulbasaur
1         First
2        Second
3         Third
4    Charmeleon
Name: Pokemon, dtype: object

In [80]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze("columns")

In [82]:
pokemon.loc["Bulbasaur"]

'Grass'

In [85]:
pokemon.loc["Bulbasaur"] = "Overwritten Pokemon"
pokemon[0]

'Overwritten Pokemon'

In [87]:
pokemon.iloc[1] = "Silly"
pokemon.head()

Pokemon
Bulbasaur     Overwritten Pokemon
Ivysaur                     Silly
Venusaur                    Grass
Charmander                   Fire
Charmeleon                   Fire
Name: Type, dtype: object