In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [8]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2',]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [11]:
df

             A         B
G1 1 -0.312724 -1.183885
   2 -0.050348 -1.231698
   3 -1.275274  1.241782
G2 1  0.261968 -1.057992
   2 -1.254008 -0.504452
   3  0.527388  0.622470

In [13]:
df.loc['G1'].loc[1]

A   -0.312724
B   -1.183885
Name: 1, dtype: float64

In [16]:
df.index.names = ['Groups', 'Num']

In [17]:
df

                   A         B
Groups Num
G1     1   -0.312724 -1.183885
       2   -0.050348 -1.231698
       3   -1.275274  1.241782
G2     1    0.261968 -1.057992
       2   -1.254008 -0.504452
       3    0.527388  0.622470

In [20]:
df.loc['G2'].loc[2]['B']

-0.5044524959967164

In [22]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.312724 -1.183885
G2      0.261968 -1.057992