In [1]:
import pandas as pd

In [2]:
import datetime as dt

In [6]:
someday = dt.date(2025,12,15)

someday.year
someday.month
someday.day

15

In [8]:
dt.datetime(2025, 12, 15, 14, 20, 55)

datetime.datetime(2025, 12, 15, 14, 20, 55)

In [10]:
pd.Timestamp(2027, 3, 12, 15, 33, 6)

Timestamp('2027-03-12 15:33:06')

# date_range

In [11]:
pd.date_range(start="2025-01-01", end="2025-01-07")

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
pd.date_range(start="2025-01-01", end="2025-12-01", freq="M") #month ends

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30', '2025-10-31', '2025-11-30'],
              dtype='datetime64[ns]', freq='M')

In [14]:
pd.date_range(start="2025-01-01", end="2025-01-07", freq="2D")

DatetimeIndex(['2025-01-01', '2025-01-03', '2025-01-05', '2025-01-07'], dtype='datetime64[ns]', freq='2D')

In [21]:
pd.date_range(start="2025-01-01", end="2025-01-15", freq="B") #business days Mon-Fri

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-06',
               '2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10',
               '2025-01-13', '2025-01-14', '2025-01-15'],
              dtype='datetime64[ns]', freq='B')

In [18]:
pd.date_range(start="2025-01-01", end="2025-02-01", freq="W") #weekly starting on Sunday

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26'], dtype='datetime64[ns]', freq='W-SUN')

In [19]:
pd.date_range(start="2025-01-01", end="2025-02-01", freq="W-FRI") #weekly starting on specific day

DatetimeIndex(['2025-01-03', '2025-01-10', '2025-01-17', '2025-01-24',
               '2025-01-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [23]:
pd.date_range(start="2025-01-01", end="2025-01-02", freq="H") #one hour

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 01:00:00',
               '2025-01-01 02:00:00', '2025-01-01 03:00:00',
               '2025-01-01 04:00:00', '2025-01-01 05:00:00',
               '2025-01-01 06:00:00', '2025-01-01 07:00:00',
               '2025-01-01 08:00:00', '2025-01-01 09:00:00',
               '2025-01-01 10:00:00', '2025-01-01 11:00:00',
               '2025-01-01 12:00:00', '2025-01-01 13:00:00',
               '2025-01-01 14:00:00', '2025-01-01 15:00:00',
               '2025-01-01 16:00:00', '2025-01-01 17:00:00',
               '2025-01-01 18:00:00', '2025-01-01 19:00:00',
               '2025-01-01 20:00:00', '2025-01-01 21:00:00',
               '2025-01-01 22:00:00', '2025-01-01 23:00:00',
               '2025-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [24]:
pd.date_range(start="2025-01-01", end="2025-01-02", freq="6H") #six hour

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 06:00:00',
               '2025-01-01 12:00:00', '2025-01-01 18:00:00',
               '2025-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [25]:
pd.date_range(start="2025-01-01", end="2025-12-01", freq="MS") #month start

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01', '2025-07-01', '2025-08-01',
               '2025-09-01', '2025-10-01', '2025-11-01', '2025-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [27]:
pd.date_range(start="2025-01-01", end="2025-12-31", freq="A") #annual year end

DatetimeIndex(['2025-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [28]:
pd.date_range(start="2012-09-09", freq="D", periods=25) #no end date, just # of periods to calculate

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range(end="2012-09-09", freq="B", periods=25) #no start date, just # of periods to calculate

DatetimeIndex(['2012-08-06', '2012-08-07', '2012-08-08', '2012-08-09',
               '2012-08-10', '2012-08-13', '2012-08-14', '2012-08-15',
               '2012-08-16', '2012-08-17', '2012-08-20', '2012-08-21',
               '2012-08-22', '2012-08-23', '2012-08-24', '2012-08-27',
               '2012-08-28', '2012-08-29', '2012-08-30', '2012-08-31',
               '2012-09-03', '2012-09-04', '2012-09-05', '2012-09-06',
               '2012-09-07'],
              dtype='datetime64[ns]', freq='B')

# DT Attributes

In [35]:
bunch_of_dates = pd.Series(pd.date_range(start="2000-01-01", end="2020-12-31", freq="24D 3H"))
bunch_of_dates.head()

0   2000-01-01 00:00:00
1   2000-01-25 03:00:00
2   2000-02-18 06:00:00
3   2000-03-13 09:00:00
4   2000-04-06 12:00:00
dtype: datetime64[ns]

In [37]:
bunch_of_dates.dt.day
bunch_of_dates.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
313     9
314     9
315    10
316    11
317    12
Length: 318, dtype: int64

In [38]:
bunch_of_dates.dt.day_of_year

0        1
1       25
2       49
3       73
4       97
      ...
313    247
314    271
315    295
316    319
317    343
Length: 318, dtype: int64

In [41]:
bunch_of_dates.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
313     Thursday
314       Sunday
315    Wednesday
316     Saturday
317      Tuesday
Length: 318, dtype: object

In [49]:
bunch_of_dates.dt.is_month_end
bunch_of_dates.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

In [48]:
bunch_of_dates[bunch_of_dates.dt.is_quarter_start]

0     2000-01-01 00:00:00
106   2007-01-01 06:00:00
212   2014-01-01 12:00:00
299   2019-10-01 09:00:00
dtype: datetime64[ns]

# Select Rows from DF with a DateTimeIndex

In [55]:
ibm = pd.read_csv("IBM.csv", parse_dates=["Date"], index_col="Date").sort_index()
ibm.head()

                Open      High       Low     Close  Adj Close  Volume
Date
1962-02-01  6.978967  7.087317  6.978967  7.068196   1.494543  674670
1962-02-02  7.068196  7.112811  7.036329  7.112811   1.503977  533460
1962-02-05  7.112811  7.112811  6.985341  7.023582   1.485110  329490
1962-02-06  7.023582  7.036329  6.998088  7.029955   1.486660  274575
1962-02-07  7.036329  7.074570  7.036329  7.036329   1.488006  266730

In [60]:
ibm.iloc[300]
ibm.loc["2014-03-04"]
ibm.loc[pd.Timestamp(2014,3,4)]

Open         1.776386e+02
High         1.789293e+02
Low          1.775143e+02
Close        1.782409e+02
Adj Close    1.167212e+02
Volume       4.950718e+06
Name: 2014-03-04 00:00:00, dtype: float64

# Date Offset

In [61]:
ibm.index

DatetimeIndex(['1962-02-01', '1962-02-02', '1962-02-05', '1962-02-06',
               '1962-02-07', '1962-02-08', '1962-02-09', '1962-02-12',
               '1962-02-13', '1962-02-14',
               ...
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-20',
               '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-26',
               '2024-02-27', '2024-02-28'],
              dtype='datetime64[ns]', name='Date', length=15624, freq=None)

In [65]:
ibm.index + pd.DateOffset(days=5) #brand new DT index that adds 5 days to each starting date
ibm.index - pd.DateOffset(months=1) #brand new DT index that subtracts 1 month from each starting date

DatetimeIndex(['1962-01-01', '1962-01-02', '1962-01-05', '1962-01-06',
               '1962-01-07', '1962-01-08', '1962-01-09', '1962-01-12',
               '1962-01-13', '1962-01-14',
               ...
               '2024-01-14', '2024-01-15', '2024-01-16', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-26',
               '2024-01-27', '2024-01-28'],
              dtype='datetime64[ns]', name='Date', length=15624, freq=None)

In [69]:
# Find the IBM stock price on every one of my birthdays
birthdays = pd.date_range(start="1995-12-14", end="2023-04-12", freq=pd.DateOffset(years=1))

In [71]:
ibm[ibm.index.isin(birthdays)]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1995-12-14,22.645794,22.735420,22.078156,22.406788,11.836429,14185852
1998-12-14,79.588913,79.827919,77.796364,77.856117,42.254452,7894580
1999-12-14,105.341782,105.341782,102.174950,104.445503,56.955791,7780043
2000-12-14,87.954109,89.567398,87.774857,88.372368,48.415359,6413444
2001-12-14,115.487572,116.137665,114.158699,115.774376,63.739212,7359656
2004-12-14,92.065010,93.403442,92.055450,93.030594,52.388996,4699887
2005-12-14,79.971321,80.258125,79.302101,79.474190,45.175549,7491243
2006-12-14,90.793503,91.510513,90.382408,91.166351,52.517498,4857729
2007-12-14,102.590820,102.829826,99.521988,101.118546,59.069698,10157915
2009-12-14,123.948372,124.263863,123.900574,124.216064,75.306831,5440560
2010-12-14,137.915863,139.588913,137.915863,139.407272,86.133667,5021637
2011-12-14,181.491394,181.912048,179.732315,180.420654,113.359291,5290354
2012-12-14,183.260040,184.894836,182.848953,183.326965,117.124435,4002937
2015-12-14,129.359467,130.152969,128.126190,129.952194,89.521103,5380415
2016-12-14,160.965576,162.418732,160.086044,161.099426,115.206619,4313913
2017-12-14,147.801147,148.288712,146.940720,147.227539,109.370140,4850720
2018-12-14,114.244743,115.783936,114.187378,114.627151,89.004089,4763693
2020-12-14,119.808792,120.688339,118.040154,118.097511,101.136528,5282300
2021-12-14,122.349998,125.029999,122.300003,123.760002,111.318275,5716100
2022-12-14,150.470001,151.910004,148.449997,149.860001,141.479477,4205900

# Specialized Date Offsets

In [72]:
#Round each date to the end of its month
ibm.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1962-02-28', '1962-02-28', '1962-02-28', '1962-02-28',
               '1962-02-28', '1962-02-28', '1962-02-28', '1962-02-28',
               '1962-02-28', '1962-02-28',
               ...
               '2024-02-29', '2024-02-29', '2024-02-29', '2024-02-29',
               '2024-02-29', '2024-02-29', '2024-02-29', '2024-02-29',
               '2024-02-29', '2024-02-29'],
              dtype='datetime64[ns]', name='Date', length=15624, freq=None)

In [73]:
ibm.index + pd.tseries.offsets.QuarterBegin()

DatetimeIndex(['1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01',
               ...
               '2024-03-01', '2024-03-01', '2024-03-01', '2024-03-01',
               '2024-03-01', '2024-03-01', '2024-03-01', '2024-03-01',
               '2024-03-01', '2024-03-01'],
              dtype='datetime64[ns]', name='Date', length=15624, freq=None)

# Time Delta (duration)

In [75]:
pd.Timestamp("2023-03-31 12:30:48") - pd.Timestamp("2023-03-20 19:25:59")

Timedelta('10 days 17:04:49')

In [77]:
pd.Timedelta(days=3, hours=2, minutes=5)

Timedelta('3 days 02:05:00')

In [85]:
ecomm = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
ecomm.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [88]:
ecomm["Delivery Time"] = ecomm["delivery_date"] - ecomm["order_date"]
ecomm.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [91]:
#If order took twice as long

ecomm["Twice as long"] = ecomm["delivery_date"] + ecomm["Delivery Time"]
ecomm.head()

   order_date delivery_date Delivery Time Twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [94]:
ecomm["Delivery Time"].max()
ecomm["Delivery Time"].min()
ecomm["Delivery Time"].mean()

Timedelta('1217 days 22:53:53.532934128')