In [1]:
import pandas as pd

In [4]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [5]:
fortune.nunique()

Company      996
Sector        21
Industry      73
Location     416
Revenue      945
Profits      760
Employees    755
dtype: int64

# Pivot Method

In [25]:
fortune.pivot_table(values="Company", index=["Sector", "Industry"], aggfunc="count")

                                                                   Company
Sector              Industry
Aerospace & Defense Aerospace and Defense                               20
Apparel             Apparel                                             15
Business Services   Advertising, marketing                               2
                    Diversified Outsourcing Services                    14
                    Education                                            3
...                                                                    ...
Transportation      Trucking, Truck Leasing                              9
Wholesalers         Miscellaneous                                        1
                    Wholesalers: Diversified                            25
                    Wholesalers: Electronics and Office Equipment        8
                    Wholesalers: Food and Grocery                        6

[79 rows x 1 columns]

# Sums of Revenues for each sector

In [16]:
fortune[fortune["Sector"] == "Retailing"]["Revenue"].sum()

1465076

# Group By

In [18]:
sectors = fortune.groupby("Sector")

In [20]:
len(sectors)

21

In [21]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [24]:
sectors.first()
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fredâ€™s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendyâ€™s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

# Get Group Method

In [26]:
sectors.get_group("Energy")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

# Insert State into Fortune

In [31]:
fortune["State"] = fortune["Location"].str.split(", ").str.get(1)

In [32]:
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees,State
Rank,,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,AR
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,TX
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,CA
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,NE
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400,CA

In [33]:
states = fortune.groupby("State")

In [35]:
states.size().head()

State
AL      4
AR      8
AZ     17
CA    108
CO     21
dtype: int64

# Methods on GroupBy Object

In [41]:
sectors["Revenue"].sum()
sectors["Employees"].min()
sectors["Profits"].max()
sectors["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [43]:
sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

# Grouping by Multiple Columns

In [44]:
sectors = fortune.groupby(["Sector", "Industry"])

In [45]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [46]:
sectors["Revenue"].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

# The agg method

In [47]:
sectors = fortune.groupby("Sector")

In [53]:
# same as doing sectors["Revenue"].sum() but can do multiple aggs
sectors.agg({"Revenue": "sum", "Profits":"max", "Employees":"mean"})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940     7608  48402.850000
Apparel                         95968     3273  23093.133333
Business Services              272195     6328  26687.254902
Chemicals                      243897     7685  15455.033333
Energy                        1517809    16150   9745.303279
Engineering & Construction     153983      803  15642.615385
Financials                    2217159    24442  24172.287770
Food and Drug Stores           483769     5237  93026.533333
Food, Beverages & Tobacco      555967     7351  28177.488372
Health Care                   1614707    18108  35710.520000
Hotels, Resturants & Leisure   169546     5920  99369.800000
Household Products             234737     7036  23072.785714
Industrials                    497581     4833  33591.934783
Materials                      259145      991  14840.069767
Media                          220764     8382  22012.560000
Motor Vehicles & Parts         482540     9687  45106.666667
Retailing                     1465076    14694  77845.362500
Technology                    1377600    53394  35087.735294
Telecommunications             461834    17879  55497.866667
Transportation                 408508     7610  42688.694444
Wholesalers                    444800     1472  13139.925000

# Apply Method

In [54]:
# Find the two companies in each sector with the most employees

In [55]:
fortune.nlargest(2, "Employees")

,Company,Sector,Industry,Location,Revenue,Profits,Employees,State
Rank,,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,AR
218,Yum Brands,"Hotels, Resturants & Leisure",Food Services,"Louisville, KY",13105,1293,505000,KY

In [56]:
def top_two_companies_by_employee_count(sector):
    return sector.nlargest(2, "Employees")

sectors.apply(top_two_companies_by_employee_count)

                                                    Company  \
Sector                       Rank
Aerospace & Defense          45         United Technologies
                             24                      Boeing
Apparel                      448                Hanesbrands
                             231                         VF
Business Services            199                    Aramark
                             744                  Convergys
Chemicals                    101                     DuPont
                             56                Dow Chemical
Energy                       2                  Exxon Mobil
                             117                Halliburton
Engineering & Construction   156                      AECOM
                             235   Jacobs Engineering Group
Financials                   4           Berkshire Hathaway
                             27                 Wells Fargo
Food and Drug Stores         17                      Kroger
                             19    Walgreens Boots Alliance
Food, Beverages & Tobacco    44                     PepsiCo
                             62                   Coca-Cola
Health Care                  63                HCA Holdings
                             6           UnitedHealth Group
Hotels, Resturants & Leisure 218                 Yum Brands
                             109                 McDonaldâ€™s
Household Products           34            Procter & Gamble
                             256     Stanley Black & Decker
Industrials                  11            General Electric
                             75     Honeywell International
Materials                    126                      Alcoa
                             127        International Paper
Media                        53                      Disney
                             255      R.R. Donnelley & Sons
Motor Vehicles & Parts       8               General Motors
                             9                   Ford Motor
Retailing                    1                      Walmart
                             28                  Home Depot
Technology                   31                         IBM
                             20                          HP
Telecommunications           10                        AT&T
                             13                     Verizon
Transportation               48                         UPS
                             58                       FedEx
Wholesalers                  212                     Synnex
                             57                       Sysco

                                                         Sector  \
Sector                       Rank
Aerospace & Defense          45             Aerospace & Defense
                             24             Aerospace & Defense
Apparel                      448                        Apparel
                             231                        Apparel
Business Services            199              Business Services
                             744              Business Services
Chemicals                    101                      Chemicals
                             56                       Chemicals
Energy                       2                           Energy
                             117                         Energy
Engineering & Construction   156     Engineering & Construction
                             235     Engineering & Construction
Financials                   4                       Financials
                             27                      Financials
Food and Drug Stores         17            Food and Drug Stores
                             19            Food and Drug Stores
Food, Beverages & Tobacco    44       Food, Beverages & Tobacco
                             62       Food, Beverages & Tobacco
Health Care                  63                     Health Care
                             6                      Health Care
Hotels, Resturants & Leisure 218   Hotels, Resturants & Leisure
                             109   Hotels, Resturants & Leisure
Household Products           34              Household Products
                             256             Household Products
Industrials                  11                     Industrials
                             75                     Industrials
Materials                    126                      Materials
                             127                      Materials
Media                        53                           Media
                             255                          Media
Motor Vehicles & Parts       8           Motor Vehicles & Parts
                             9           Motor Vehicles & Parts
Retailing                    1                        Retailing
                             28                       Retailing
Technology                   31                      Technology
                             20                      Technology
Telecommunications           10              Telecommunications
                             13              Telecommunications
Transportation               48                  Transportation
                             58                  Transportation
Wholesalers                  212                    Wholesalers
                             57                     Wholesalers

                                                                        Industry  \
Sector                       Rank
Aerospace & Defense          45                            Aerospace and Defense
                             24                            Aerospace and Defense
Apparel                      448                                         Apparel
                             231                                         Apparel
Business Services            199                Diversified Outsourcing Services
                             744                Diversified Outsourcing Services
Chemicals                    101                                       Chemicals
                             56                                        Chemicals
Energy                       2                                Petroleum Refining
                             117                 Oil and Gas Equipment, Services
Engineering & Construction   156                       Engineering, Construction
                             235                       Engineering, Construction
Financials                   4          Insurance: Property and Casualty (Stock)
                             27                                 Commercial Banks
Food and Drug Stores         17                             Food and Drug Stores
                             19                             Food and Drug Stores
Food, Beverages & Tobacco    44                           Food Consumer Products
                             62                                        Beverages
Health Care                  63                  Health Care: Medical Facilities
                             6           Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure 218                                   Food Services
                             109                                   Food Services
Household Products           34                  Household and Personal Products
                             256                     Home Equipment, Furnishings
Industrials                  11                             Industrial Machinery
                             75                   Electronics, Electrical Equip.
Materials                    126                                          Metals
                             127                           Packaging, Containers
Media                        53                                    Entertainment
                             255                            Publishing, Printing
Motor Vehicles & Parts       8                          Motor Vehicles and Parts
                             9                          Motor Vehicles and Parts
Retailing                    1                             General Merchandisers
                             28                       Specialty Retailers: Other
Technology                   31                  Information Technology Services
                             20                      Computers, Office Equipment
Telecommunications           10                               Telecommunications
                             13                               Telecommunications
Transportation               48              Mail, Package, and Freight Delivery
                             58              Mail, Package, and Freight Delivery
Wholesalers                  212   Wholesalers: Electronics and Office Equipment
                             57                    Wholesalers: Food and Grocery

                                            Location  Revenue  Profits  \
Sector                       Rank
Aerospace & Defense          45       Farmington, CT    61047     7608
                             24          Chicago, IL    96114     5176
Apparel                      448   Winston-Salem, NC     5732      429
                             231      Greensboro, NC    12377     1232
Business Services            199    Philadelphia, PA    14329      236
                             744      Cincinnati, OH     2951      169
Chemicals                    101      Wilmington, DE    27940     1953
                             56          Midland, MI    48778     7685
Energy                       2            Irving, TX   246204    16150
                             117         Houston, TX    23633     -671
Engineering & Construction   156     Los Angeles, CA    17990     -155
                             235        Pasadena, CA    12115      303
Financials                   4             Omaha, NE   210821    24083
                             27    San Francisco, CA    90033    22894
Food and Drug Stores         17       Cincinnati, OH   109830     2039
                             19        Deerfield, IL   103444     4220
Food, Beverages & Tobacco    44         Purchase, NY    63056     5452
                             62          Atlanta, GA    44294     7351
Health Care                  63        Nashville, TN    43591     2129
                             6        Minnetonka, MN   157107     5813
Hotels, Resturants & Leisure 218      Louisville, KY    13105     1293
                             109       Oak Brook, IL    25413     4529
Household Products           34       Cincinnati, OH    78756     7036
                             256     New Britain, CT    11211      884
Industrials                  11        Fairfield, CT   140389    -6126
                             75    Morris Plains, NJ    38581     4768
Materials                    126        New York, NY    22534     -322
                             127         Memphis, TN    22365      938
Media                        53          Burbank, CA    52465     8382
                             255         Chicago, IL    11257      151
Motor Vehicles & Parts       8           Detroit, MI   152356     9687
                             9          Dearborn, MI   149558     7373
Retailing                    1       Bentonville, AR   482130    14694
                             28          Atlanta, GA    88519     7009
Technology                   31           Armonk, NY    82461    13190
                             20        Palo Alto, CA   103355     4554
Telecommunications           10           Dallas, TX   146801    13345
                             13         New York, NY   131620    17879
Transportation               48          Atlanta, GA    58363     4844
                             58          Memphis, TN    47453     1050
Wholesalers                  212         Fremont, CA    13338      209
                             57          Houston, TX    48681      687

                                   Employees State
Sector                       Rank
Aerospace & Defense          45       197200    CT
                             24       161400    IL
Apparel                      448       65300    NC
                             231       64000    NC
Business Services            199      216500    PA
                             744      130000    OH
Chemicals                    101       52000    DE
                             56        49495    MI
Energy                       2         75600    TX
                             117       65000    TX
Engineering & Construction   156       92000    CA
                             235       56950    CA
Financials                   4        331000    NE
                             27       264700    CA
Food and Drug Stores         17       431000    OH
                             19       302500    IL
Food, Beverages & Tobacco    44       263000    NY
                             62       123200    GA
Health Care                  63       203500    TN
                             6        200000    MN
Hotels, Resturants & Leisure 218      505000    KY
                             109      420000    IL
Household Products           34       110000    OH
                             256       51250    CT
Industrials                  11       333000    CT
                             75       129000    NJ
Materials                    126       60000    NY
                             127       56000    TN
Media                        53       185000    CA
                             255       68400    IL
Motor Vehicles & Parts       8        215000    MI
                             9        199000    MI
Retailing                    1       2300000    AR
                             28       385000    GA
Technology                   31       411798    NY
                             20       287000    CA
Telecommunications           10       281450    TX
                             13       177700    NY
Transportation               48       341240    GA
                             58       323035    TN
Wholesalers                  212       78500    CA
                             57        51700    TX

In [58]:
states = fortune.groupby("State")

In [61]:
def top_company_by_profits(states):
    return states.nlargest(1, "Profits")

states.apply(top_company_by_profits)

,,Company,Sector,Industry,Location,Revenue,Profits,Employees,State
State,Rank,,,,,,,,
AL,453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674,1062,23916,AL
AR,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,AR
AZ,312,Republic Services,Business Services,Waste Management,"Phoenix, AZ",9115,750,33000,AZ
CA,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,CA
CO,333,Level 3 Communications,Telecommunications,Telecommunications,"Broomfield, CO",8229,3433,12500,CO
CT,45,United Technologies,Aerospace & Defense,Aerospace and Defense,"Farmington, CT",61047,7608,197200,CT
DC,16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300,DC
DE,101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940,1953,52000,DE
FL,163,NextEra Energy,Energy,Utilities: Gas and Electric,"Juno Beach, FL",17486,2752,14300,FL
GA,62,Coca-Cola,"Food, Beverages & Tobacco",Beverages,"Atlanta, GA",44294,7351,123200,GA
HI,884,Hawaiian Holdings,Transportation,Airlines,"Honolulu, HI",2318,183,5548,HI
IA,236,Principal Financial,Financials,"Insurance: Life, Health (stock)","Des Moines, IA",11964,1234,14895,IA
ID,173,Micron Technology,Technology,Semiconductors and Other Electronic Components,"Boise, ID",16192,2899,31800,ID
IL,80,United Continental Holdings,Transportation,Airlines,"Chicago, IL",37864,7340,84000,IL
IN,33,Anthem,Health Care,Health Care: Insurance and Managed Care,"Indianapolis, IN",79157,2560,53000,IN
KS,389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644,789,15200,KS
KY,218,Yum Brands,"Hotels, Resturants & Leisure",Food Services,"Louisville, KY",13105,1293,505000,KY
LA,159,CenturyLink,Telecommunications,Telecommunications,"Monroe, LA",17900,878,43000,LA
MA,263,Biogen,Health Care,Pharmaceuticals,"Cambridge, MA",10764,3547,7350,MA
MD,60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132,3605,126000,MD
MI,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000,MI
MN,131,U.S. Bancorp,Financials,Commercial Banks,"Minneapolis, MN",21494,5879,65433,MN
MO,128,Emerson Electric,Industrials,"Electronics, Electrical Equip.","St. Louis, MO",22304,2710,110800,MO
MS,770,Sanderson Farms,"Food, Beverages & Tobacco",Food Production,"Laurel, MS",2804,216,12264,MS
NC,26,Bank of America Corp.,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280,NC
ND,558,MDU Resources Group,Energy,Energy,"Bismarck, ND",4376,-622,8689,ND
NE,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,NE
NH,653,Sprague Resources,Wholesalers,Wholesalers: Diversified,"Portsmouth, NH",3482,78,590,NH
NJ,39,Johnson & Johnson,Health Care,Pharmaceuticals,"New Brunswick, NJ",70074,15409,127100,NJ
NV,534,Caesars Entertainment,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Las Vegas, NV",4654,5920,33000,NV
NY,23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598,NY
OH,34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000,OH
OK,924,Magellan Midstream Partners,Energy,Pipelines,"Tulsa, OK",2189,819,1640,OK
OR,91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600,OR
PA,37,Comcast,Telecommunications,Telecommunications,"Philadelphia, PA",74510,8163,153000,PA
PR,938,Popular,Financials,Commercial Banks,"Hato Rey, PR",2123,895,7810,PR
RI,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000,RI
SC,556,SCANA,Energy,Utilities: Gas and Electric,"Cayce, SC",4380,746,5829,SC
TN,63,HCA Holdings,Health Care,Health Care: Medical Facilities,"Nashville, TN",43591,2129,203500,TN
TX,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,TX
UT,916,Zions Bancorp.,Financials,Commercial Banks,"Salt Lake City, UT",2211,310,10200,UT
VA,43,Freddie Mac,Financials,Diversified Financials,"McLean, VA",63491,6376,5439,VA
VT,542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520,498,6000,VT
WA,25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000,WA
WI,70,Johnson Controls,Motor Vehicles & Parts,Motor Vehicles and Parts,"Milwaukee, WI",40204,1563,139000,WI

In [62]:
def top_company_by_employees(states):
    return states.nlargest(1, "Employees")

states.apply(top_company_by_employees)

,,Company,Sector,Industry,Location,Revenue,Profits,Employees,State
State,Rank,,,,,,,,
AL,693,HealthSouth,Health Care,Health Care: Medical Facilities,"Birmingham, AL",3163,183,27929,AL
AR,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,AR
AZ,175,Freeport-McMoRan,Energy,"Mining, Crude-Oil Production","Phoenix, AZ",15877,-12236,34500,AZ
CA,20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000,CA
CO,200,DaVita HealthCare Partners,Health Care,Health Care: Medical Facilities,"Denver, CO",14210,270,60400,CO
CT,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000,CT
DC,133,Danaher,Technology,"Scientific,Photographic and Control Equipment","Washington, DC",20909,3357,81000,DC
DE,101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940,1953,52000,DE
FL,87,Publix Super Markets,Food and Drug Stores,Food and Drug Stores,"Lakeland, FL",32619,1965,180000,FL
GA,28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000,GA
HI,884,Hawaiian Holdings,Transportation,Airlines,"Honolulu, HI",2318,183,5548,HI
IA,374,Caseyâ€™s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408,IA
ID,173,Micron Technology,Technology,Semiconductors and Other Electronic Components,"Boise, ID",16192,2899,31800,ID
IL,109,McDonaldâ€™s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000,IL
IN,148,Cummins,Industrials,Construction and Farm Machinery,"Columbus, IN",19110,1399,55200,IN
KS,521,YRC Worldwide,Transportation,"Trucking, Truck Leasing","Overland Park, KS",4832,1,32000,KS
KY,218,Yum Brands,"Hotels, Resturants & Leisure",Food Services,"Louisville, KY",13105,1293,505000,KY
LA,159,CenturyLink,Telecommunications,Telecommunications,"Monroe, LA",17900,878,43000,LA
MA,89,TJX,Retailing,Specialty Retailers: Apparel,"Framingham, MA",30945,2278,216000,MA
MD,195,Marriott International,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Bethesda, MD",14486,859,127500,MD
MI,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000,MI
MN,38,Target,Retailing,General Merchandisers,"Minneapolis, MN",73785,3363,341000,MN
MO,128,Emerson Electric,Industrials,"Electronics, Electrical Equip.","St. Louis, MO",22304,2710,110800,MO
MS,770,Sanderson Farms,"Food, Beverages & Tobacco",Food Production,"Laurel, MS",2804,216,12264,MS
NC,47,Loweâ€™s,Retailing,Specialty Retailers: Other,"Mooresville, NC",59074,2546,225000,NC
ND,558,MDU Resources Group,Energy,Energy,"Bismarck, ND",4376,-622,8689,ND
NE,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,NE
NH,825,PC Connection,Retailing,Specialty Retailers: Other,"Merrimack, NH",2574,47,2155,NH
NJ,230,Cognizant Technology Solutions,Technology,Information Technology Services,"Teaneck, NJ",12416,1624,221700,NJ
NV,309,MGM Resorts International,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Las Vegas, NV",9190,-448,57950,NV
NY,31,IBM,Technology,Information Technology Services,"Armonk, NY",82461,13190,411798,NY
OH,17,Kroger,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000,OH
OK,692,Helmerich & Payne,Energy,"Oil and Gas Equipment, Services","Tulsa, OK",3165,422,6733,OK
OR,91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600,OR
PA,199,Aramark,Business Services,Diversified Outsourcing Services,"Philadelphia, PA",14329,236,216500,PA
PR,938,Popular,Financials,Commercial Banks,"Hato Rey, PR",2123,895,7810,PR
RI,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000,RI
SC,514,Sonoco Products,Materials,"Packaging, Containers","Hartsville, SC",4964,250,21000,SC
TN,58,FedEx,Transportation,"Mail, Package, and Freight Delivery","Memphis, TN",47453,1050,323035,TN
TX,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450,TX
UT,907,Nu Skin Enterprises,Household Products,Household and Personal Products,"Provo, UT",2247,133,26800,UT
VA,254,Hilton Worldwide Holdings,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","McLean, VA",11272,1404,164000,VA
VT,542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520,498,6000,VT
WA,146,Starbucks,"Hotels, Resturants & Leisure",Food Services,"Seattle, WA",19163,2757,238000,WA
WI,70,Johnson Controls,Motor Vehicles & Parts,Motor Vehicles and Parts,"Milwaukee, WI",40204,1563,139000,WI