A function, `multiply_list` takes as an input a string of space separated ints that is split and converted to a list.  Multiply the list of ints together and return the result. For example, if the input is 1 2 3 4, perform 1 * 2 * 3 * 4 and return the result. If the list is empty, return 0.

In [145]:
import numpy as np

def multiply_list(nums):

    nums_list = list(map(int, nums.split()))

    if nums_list == []:
        return 0
    else:
        return np.prod(nums_list)

In [155]:
multiply_list(' ')

0

A function, `count_common_chars`, takes in a string with two words, separated by a single white space. Find the number of unique characters that the strings have in common. For example, if the strings are ‘green’ and ‘red’, there are 2 common characters ('r' and ‘e’). You may assume only lower case characters a-z are included in the strings. You can also assume each string will have at least one character.

In [197]:
def count_common_chars(two_word_string):
    
    first_word = list(two_word_string.split()[0])
    second_word = list(two_word_string.split()[1])

    common_char = set(first_word).intersection(second_word)
        
    return len(common_char)

In [201]:
count_common_chars('apple pear')

3

Write a function, `sum_divisible_by_k`, that finds the sum of the numbers from 1 to N (inclusive) that are divisible by K. For example, if N = 5 and K = 2, then the set of numbers will be {1,2,3,4,5} and the subset of numbers divisible by K will be {2,4} and their sum is 6. If N or K are such that the problem isn’t possible (for instance, K = 0), then return -1.

In [267]:
def sum_divisible_by_k(n,k):

    n_set = set(range(1,n+1))
    subset = set()

    if k == 0:
        return -1
    elif n == 0:
        return -1
    else:
        for int in n_set:
            if int % k == 0:
                subset.add(int)
    
        return sum(subset)

In [269]:
sum_divisible_by_k(5,2)

6

Write a function, `highest_common_factor`, to find the highest common factor of the 2 numbers. For example, the factors of 8 are the set of numbers {1,2,4,8} and the factors of 6 are the set of numbers {1,2,3,6}. The largest common factor is 2. You can assume both integers are positive and non zero.

In [292]:
def highest_common_factor(x,y):
    
    x_factors = set()
    y_factors = set()

    for i in range(1,x+1):
        if x % i == 0:
            x_factors.add(i)
        
    for i in range(1,y+1):
        if y % i == 0:
            y_factors.add(i)

    return max(set(x_factors).intersection(y_factors))

In [311]:
highest_common_factor(1,51)

1

Write a function, `get_minimum`, such that the minimum of the list data is returned.

In [301]:
def get_minimum(my_list):
    return min(my_list)

In [307]:
get_minimum([5, 13,28, 0, 1, -50])

-50

Write a function, `rename_col`, which accepts three arguments, a dataframe, old column name and the new column name. In the function, update the column name from old to the new and return the modified dataframe.

In [317]:
import pandas as pd

def rename_col(df, old, new):
    df.rename(columns={old: new}, inplace=True)

    return df

Write a function, `standard_deviation`, which accepts a series and returns the standard deviation of that series.

In [374]:
import pandas as pd

def standard_deviation(series):

    return series.std()

In [388]:
standard_deviation(pd.Series([2,3,4,5,6]))

1.5811388300841898

A function, `correlation_sum`, takes in a string of 9 numbers. Convert and/or reshape the data into a 3 x 3 DataFrame using numpy and pandas. For instance, if the string is 1 2 3 4 5 6 7 8 9 then the first row of the dataframe should be 1 2 3 and the second row should be 4 5 6. Create a pariwise correlation matrix using the resulting 3 x 3 matrix and sum all the cell values of the pairwise correlation matrix. Return the resulting sum rounded to one decimal place.
 
If the input does not contain 9 ints, then return 0
Hint, this can be done in a few lines of code using pandas and numpy and using the round function.

In [412]:
import numpy as np
import pandas as pd

def correlation_sum(num_string):
    nums_list = list(map(int, num_string.split()))

    if len(nums_list) != 9:
        return 0

    df = pd.DataFrame(np.array(nums_list).reshape(3,3))

    corr_matrix = df.corr()

    sum_result = corr_matrix.values.sum()
        
    return round(sum_result, 1)

In [414]:
correlation_sum('1 2 3 4 5 6 7 8 9')

9.0